<h1>Bloccit is...</h1>

<h3>Topics</h3>
<ul>
  <li>Can be created by Admin Users</li>
  <li>Can be edited by Moderator Users</li>
  <li>Have many posts</li>
  <li>Can have labels</li>
  <li>Have many comments</li>
</ul>


<h3>Posts</h3>
<ul>
  <li>Can br created by any user</li>
  <li>Can be edited by the owner, admins and moderators only</li>
  <li>Can be deleted by the owner and admins only</li>
  <li>Can be Favourited by any user</li>
  <li>Can be up & down voted on</li>
  <li>When a user created a post they receive an email from SendGrid</li>
</ul>

<h3>Comments</h3>
<ul>
  <li>Can br created by any user</li>
  <li>Can be edited by the owner, admins and moderators only</li>
  <li>When a user comments on a post, any user who favourited the post an email with the new comment</li>
</ul>







